@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    font-family: "Roboto";
}

.hero,
.footer {
  background: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.subtext {
  color: #1F2937;
}
.quote {
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-author {
  font-size: 20px;
}
.call-to-action {
  background-color: #3882F6;
  color: #E5E7EB;
}

.call-text {
  font-size: 20px;
  font-weight: 900;
}

.footer-text {
  color: #E5E7EB;
}
.main img {
  height: 261px;
  width: 404px;
}

.image img {
  height: 160px;
  width: 160px;
  border: solid #3882F6;
  border-radius: 10px;
}

button {
  background-color: #3882F6;
  border: solid #3882F6;
  border-radius: 5px;
  color: #E5E7EB;
  padding: 3px 22px;
  font-weight: 900;
}

.call-to-action button {
  border-color: #E5E7EB;
  border-width: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}